.venv/
/.venv/*

# --- Gitの一時ファイル ---
*.swp
*.swo
*.bak
*.tmp
*.log
*.lock

tbags-slip-animation
tbags-slip-animation.blend1
tbags-slip-animation.blend

blender_log.txt
animation.log

__pycache__/
*.pyc
animation-kumamoto-with-tbags.csv
animation-kumamoto-no-tbags.csv
node_position.csv
kumamoto-erthquake-disp.csv
self-no-tbags.str
self-with-tbags.str